<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>Write new chat......</h3>
        <form method="POST" action="/chats">
            <input placeholder="Who you are?" name="from">
            <br>
            <textarea name="msg">Write your message here......</textarea>
            <br>
            <input placeholder="add reciver" name="to">
            <br>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>