<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Message</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h3> Your chat</h3>
        <div class="chat">
            <form method="GET" action="/chats">
                <p>from : <b><i><%= chat.from %></i></b></p>
                <div class="msg-box">
                    <p>
                        <%= chat.msg %>
                    </p>
                </div>
                <p>to : <b><i><%= chat.to %></i></b></p>
                <br>
                <button class="btn">Back to All Chats</button>
            </form>
        </div>
    </div>
</body>
</html>