.container{
    width: 600px;
    margin: auto;
    background-color: rgb(248, 248, 224);
    padding: 10px;
}
.chat{
    background-color: aliceblue;
    width: 90%;
    padding: 4px 10px;
    margin: auto;
    border-radius: 4px;
}
.msg{
    background-color: dodgerblue;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}
.msg p{
    padding: 6px;
}
.btn{
    padding: 10px;
    background-color: rgb(183, 60, 255);
    color: aliceblue;
    border-radius: 6px;
}
.btn2{
    padding: 4px 10px;
    background-color: rgb(183, 60, 255);
    color: aliceblue;
    border-radius: 6px;
    margin-bottom: 8px;
}